
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>DataTech</title>
        <meta charset="UTF-8" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        <div th:fragment="aside" style="position: fixed; top: 0; left: 0; bottom: 0; background-color: #343a40; color: white; width: 470px;">
            <style>
                .navbar-brand img {
                    max-height: 40px;
                    margin-right: 10px;
                }

                .sidebar {
                    background-color: #343a40;
                    color: white;
                    padding: 20px;
              
                }

                .sidebar h2 {
                    font-size: 24px;
                    color: white;
                }

                .nav-link {
                    color: white !important;
                }

        </style>
        <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="https://cdn-icons-png.flaticon.com/128/10229/10229090.png" alt="Logo DataTech" />
                    DataTech
                </a>
            </nav>

            <aside class="sidebar">
            <h2>Menú</h2>
                <ul class="nav flex-column">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/productos}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/inventarios}">Inventarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/proveedores}">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sucursales}">Sucursales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categorias}">Categorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clientes/listado}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/empleados}">Empleados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ventas}">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reportes}">Reportes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/comentarios}">Comentarios</a>
                    </li>
                </ul>
            </aside>
        </div>

        <div th:fragment="contenidoIndex"  style="height: 100%; overflow: hidden;">
            <div style="background-image: url('https://images.unsplash.com/photo-1594235048794-fae8583a5af5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); height: 100%; width: 100%;">
                <div class="carousel-caption d-none d-md-block position-absolute" style="top: 60%; left: 60%; transform: translate(-50%, -50%);">
                    <h1 style="color: white; background-color: rgba(42, 42, 42, 0.6); width: 550px; padding: 20px; text-align: center; border-radius: 20px;">Bienvenid@ a DataTech</h1>
                </div>

            </div>
        </div>

    </body>
</html>
