<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar Cliente</title>
    <style>

    </style>
</head>
<body>
    <form th:action="@{/clientes/modificar/{id}(id=${cliente.idCliente})}" method="post">
        <h1>Modificar Cliente</h1>
        <label>Nombre:</label>
        <input type="text" name="nombre" th:value="${cliente.nombre}" required><br>
        <label>Apellido 1:</label>
        <input type="text" name="apellido1" th:value="${cliente.apellido1}" required><br>
        <label>Apellido 2:</label>
        <input type="text" name="apellido2" th:value="${cliente.apellido2}" required><br>
        <label>Correo Electrónico:</label>
        <input type="email" name="email" th:value="${cliente.email}" required><br>
        <label>Teléfono:</label>
        <input type="text" name="telefono" th:value="${cliente.telefono}" required><br>
        <label>Fecha de Registro:</label>
        <input type="text" name="fechaRegistro" th:value="${#dates.format(cliente.fechaRegistro, 'yyyy-MM-dd')}" required><br>
        <!-- Añade un campo oculto para el ID del cliente -->
        <input type="hidden" name="idCliente" th:value="${cliente.idCliente}">
        <button type="submit">Actualizar Cliente</button>
    </form>
</body>
</html>
