<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Listado de Clientes</title>
        <meta charset="UTF-8" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    </head>
    <body>
        <div th:fragment="contenidoComentarios" class="comentarios">
            <div class="container mt-4">
                <h2>Gestión de Comentarios</h2>
                <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#agregarComentarioModal">
                    Agregar Comentario
                </button>

                <!-- Modal para agregar comentario -->
                <div class="modal fade" id="agregarComentarioModal" tabindex="-1" role="dialog"
                     aria-labelledby="agregarComentarioModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="agregarComentarioModalLabel">Agregar Comentario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario para agregar empleado -->
                                <form th:action="@{/comentarios/agregar}" th:object="${comentario}" method="post">
                                    <div class="form-group">
                                        <label for="clienteComentario">Cliente</label>
                                        <input type="text" class="form-control" th:field="*{idCliente.idCliente}"
                                               placeholder="Ingrese el ID del cliente que agregó el comentario" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="productoComentario">Producto</label>
                                        <input type="text" class="form-control" th:field="*{idProducto.idProducto}"
                                               placeholder="Ingrese el ID del producto" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="calificacionComentario">Calificacion</label>
                                        <input type="text" class="form-control" th:field="*{calificacion}"
                                               placeholder="Ingrese la calificacion del comentario" required pattern="[1-5]{1}">
                                            <small class="text-muted">Debe ser entre 1 y 5.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="comentarioComentario">Comentario hecho</label>
                                        <input type="text" class="form-control" th:field="*{comentario}"
                                               placeholder="Ingrese el comentario a realizar" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="fechaComentario">Fecha del Comentario</label>
                                        <input type="date" class="form-control" th:field="*{fecha}"
                                               placeholder="Ingrese la fecha de creación del comentario" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tabla de listado de comentarios -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Calificacion</th>
                            <th scope="col">Comentarios</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comentario : ${comentarios}">
                            <th scope="row" th:text="${comentario.idComentario}"></th>
                            <td th:text="${comentario.idProducto.nombre}"></td>
                            <td th:text="${comentario.idCliente.nombre}"></td>
                            <td th:text="${comentario.fecha}"></td>
                            <td th:text="${comentario.calificacion}"></td>
                            <td th:text="${comentario.comentario}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   th:href="@{/comentarios/editar/{id}(id=${comentario.idComentario})}"><i class="fas fa-edit"></i>Editar</a>
                                <a class="btn btn-sm btn-danger"
                                   th:href="@{/comentarios/eliminar/{id}(id=${comentario.idComentario})}"><i class="fas fa-trash-alt"></i>Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




        <div th:fragment="contenidoEditarComentario">
            <div class="container mt-4">
                <h2>Editar Comentario</h2>
                <form th:action="@{/comentarios/editar}" th:object="${comentario}" method="post">
                    <input type="hidden" th:field="*{idComentario}" />
                    <div class="form-group">
                        <label for="clienteComentario">Cliente</label>
                        <input type="text" class="form-control" th:field="*{idCliente.idCliente}"
                               placeholder="Ingrese el ID del cliente que agregó el comentario" required>
                    </div>
                    <div class="form-group">
                        <label for="productoComentario">Producto</label>
                        <input type="text" class="form-control" th:field="*{idProducto.idProducto}"
                               placeholder="Ingrese el ID del producto" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaComentario">Fecha del Comentario</label>
                        <input type="date" class="form-control" th:field="*{fecha}"
                               placeholder="Ingrese la fecha de creación del comentario" required>
                    </div>
                    <div class="form-group">
                        <label for="calificacionComentario">Calificacion</label>
                        <input type="text" class="form-control" th:field="*{calificacion}"
                               placeholder="Ingrese la calificacion del comentario" required pattern="[1-5]{1}">
                            <small class="text-muted">Debe ser entre 1 y 5.</small>
                    </div>
                    <div class="form-group">
                        <label for="comentarioComentario">Comentario hecho</label>
                        <input type="text" class="form-control" th:field="*{comentario}"
                               placeholder="Ingrese el comentario a realizar" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>



    </body>


</html>